<div class="container">
<div class="table-responsive"  style="padding-left:170px">
  <!--Table-->
  <table class="table table-striped" >

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Categories</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
    <%x=1%>
    
    <% @products.each do |product| %>
   
    <tr>
    <td><%= x %></td>
    <td><%= product.name %></td>
    <% product.sub_categories.each do |category| %>
    <td><%=category.title%></td>
    <%end%>
    <td><%= product.price %></td>
    <td><%= link_to 'Edit Product', "" , :class => 'btn btn-primary btn-block ', :style => 'margin:0 auto; color:white' %></td>
    </tr>
    <%x = x+1 %>
    <%end%>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>
</div>
<div>