<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center" style="margin-left:170px;">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Add PromoCode</h3>
            <%= form_for :promo , url: admin_promo_index_path, class: 'form-group' do |f| %>
            <div class="form-outline mb-4" style='text-align:left'>
              Name : <%= f.text_field :name, class: 'form-control', class:'form-control form-control-lg'%><br />
            </div>  
            <div class="form-outline mb-4" style='text-align:left'>
              SubCategories : <br />
              <%= f.select(:sub_category_id, options_from_collection_for_select(@subcategories.all, :id,:title)) %> <br/>
              </div>
            <div class="form-outline mb-4" style='text-align:left'>
              Type : <br/>
               <%= f.select(:type, options_for_select([["Flat Rate", "flat"], ["Percentage", "percentage"]])) %><br/>
            </div>
            
            <div class="form-outline mb-4" style='text-align:left'>
              Value : <%= f.number_field :value%><br />
            </div>
            
            <%= f.submit "Submit", class:"btn btn-primary btn-lg btn-block" %>
            
            <% end %>
        </div>
      </div>
    </div>
  </div>