<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <%# <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p> %>
          </div>
        </div>
       <%# <%=render 'content'%> 
     <div id="cart_items">
      <%= render 'shared/cart_items'%>
      </div>
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
            <%= form_for :promo, url: check_promo_admin_promo_path(current_user.shoppingcart.id), method: 'get', remote: true, class: 'form-group' do |f| %>
            <div class="form-outline mb-4" style='text-align:left'>
              Title : <%= f.text_field :name, class: 'form-control', class:'form-control form-control-lg'%><br />
            </div>
            
            <%= f.submit "Submit", class:"btn btn-primary btn-lg btn-block" %>

            <% end %>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body" style="text-align:center">
           <%= link_to 'Proceed to pay', new_order_path , :class => 'add-to-cart btn btn-default btn-lg ', :style => 'margin:0 auto; color:white' %>
           
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>

      function addQuantity(id,stock){  
          $.ajax({
              url: `/cart_item/${id}/add`,
              type: 'get',
              dataType: "script",
              success: function(data){
            var quantity = $('<div />').append(data).find(`#quantity${id}`).html();
            $(`#quantity${id}`).html(quantity);
            if(quantity > 1){
              document.getElementById(`reduce${id}`).disabled = false; 
            }
            if (stock == 1){
              document.getElementById(`add${id}`).disabled = true;
            }
            var price = $('<div />').append(data).find(`#price${id}`).html();
            $(`#price${id}`).html(price);
           }
          });
      };
      function reduceQuantity(id,stock){  
          $.ajax({
              url: `/cart_item/${id}/reduce`,
              type: 'get',
              dataType: "script",
              success: function(data){
            var quantity = $('<div />').append(data).find(`#quantity${id}`).html();
            $(`#quantity${id}`).html(quantity);
            if(quantity == 1){
              document.getElementById(`reduce${id}`).disabled = true; 
            }
            if (stock >= 0){
              document.getElementById(`add${id}`).disabled = false;
            }
            var price = $('<div />').append(data).find(`#price${id}`).html();
            $(`#price${id}`).html(price);
           }
          });
      };
</script>