
<div class="container" style="margin-top: 10px;">
<center style="margin-top:30px"><h4>Order History</h4></center>
<div class="table-responsive">
<div class="row">
  <% @orders.each do |order|%>
    
    <div class="col-lg-6">
    <div class="card mb-4" style="padding: 30px">
    <h6> Order id:  <%=order.id%> </h6>
        <table class="table table-borderless">
            <tbody>
            <%total = 0%>
            <%order.order_items.each do |item|%>
            
              <tr>
                <td>
                  <div class="d-flex mb-2">
                  
                    <div class="flex-shrink-0">
                    <%if item.product.images.present?%>
                        <%= image_tag  (item.product.images.last.url), style: 'width:35px' %>       
                    <%else%>
                        <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
                    <%end%>
                    </div>
                    <div class="flex-lg-grow-1 ms-3">
                      <h6 class="small mb-0"><a href="#" class="text-reset"><%=item.product.name%></a></h6>
                    </div>
                  </div>
                </td>
                <td><%=item.quantity%></td>
                <td class="text-end"><%=item.price %> </span>
                    <%total = item.price + total%>
              </tr>
            <%end%>
            </tbody>
            <tfoot>
              <tr class="fw-bold">
                <td colspan="2">TOTAL</td>
                <td class="text-end">$ <%=total%></td>
              </tr>
              <tr>
              <td colspan="2">STATUS</td>
              <td class="text-end"><span class="add-to-cart btn btn-default" style="cursor:default;"><%=order.status%></span></td>
                </tr>
            </tfoot>
          </table>
          </div>
    </div>
  <% end %>
  </div>
  </div>