<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout form</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <%totals = 0%>
                <span class="badge badge-secondary badge-pill"><%@cart.each do|cart|%>
                <%totals = (cart.quantity).to_i + totals%>
                <%end%>
                Items: <%=totals%>
                </span>
            </h4>
           <div id="cart_totals">
           <%= render 'shared/cart_totals'%>
           </div>

            <div class="form-outline flex-fill">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Add PromoCode</span>
                </span>
            </h4>
            <%= form_for :subcategory, url: check_promo_admin_subcategory_path(current_user.shoppingcart.id), method: 'get', remote: true, class: 'form-group' do |f| %>
            <div class="form-outline mb-4" style='text-align:left'>
              Title : <%= f.text_field :name, class: 'form-control', class:'form-control form-control-lg'%><br />
            </div>

            <%= f.submit class:"btn btn-primary btn-lg btn-block" %>        

            <% end %>

            </div>
        </div>
        <div class="col-md-8 order-md-1" id="order_form">
           <%= render 'shared/order_form'%>
        </div>
    <script>
        function CreateOrder(auth){  
            otp = $('#otp_auth').val()
            if(auth == otp){
          $.ajax({
              url: `/order`,
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type: 'post',
              dataType: "html",
              data: $("form").serialize(),
              success: function(data){
                    $('#exampleModal').modal('hide'); 
                    $('.modal-backdrop').remove();
                    $("#success_tic").modal('show');
           }
          });
            }else{
                alert('please enter valid otp')
            }
      };
      function SendOtp(auth){  
            email = $('#email').val();
             if (email != ""){
            $.ajax({
              url: `/order/otp/authentication?otp=${auth}&email=${email}`,
              type: 'get',
              dataType: "script",
          });
      }else{

      }
      };

        

    </script>