 <% @cart.each do |cart| %>
        <div class="card rounded-3 mb-1">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h6 class="mb-0"><%=cart.product.name%></h6>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">

               <h5 class="mb-0" id = "price<%=cart.id%>" style="tex-align:right"> $ 
                <%if !@promo_items.nil?%>

                    <%@promo_items.each do |discounted_item|%>
                        
                          <%= cart.get_price(discounted_item)%>

                    <%end%> 
                    <%if cart.product.sub_categories.last.code != @promo%>
                    <%= cart.orignial_price%>
                    <%end%>

                <%else%>
                    <%= cart.orignial_price%>
                <%end%>
               
               </h5>

              </div>
            </div>
          </div>
        </div>


        <%end%>