<div class="row">
<div class="col-lg-12">
<div class="alert alert-primary" role="alert" id="alerts" style="display:none">
</div>
 <%= image_tag "1.jpg", width:'100%' %>
</div>
</div>
<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   <% @products.each do |product| %>
                   
                    <div class="col mb-5">
                        <div class="card" style="height:480px !important">
                            <!-- Product image-->
                            <%if product.images.present?%>
                            <%= image_tag  (product.images.last.url) %>
                            
                            <%else%>
                            <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
                            <%end%>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%=product.name%></h5>
                                    <!-- Product price-->
                                    
                                    <%if product.shop != nil && product.shop.discount?%>
                                    $ <del><%=product.price%></del> <ins><%=product.get_discount()%></ins> <br/>
                                    Shop: <%=product.shop.name%>
                                    <%else%>
                                    $ <%=product.price%>
                                    <%end%>

                                    
                                </div>
                            </div>

                   
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="text-align:center">
                            <%= link_to 'View', product_path(product.id), method: 'get', :class => 'add-to-cart btn btn-default', :style => 'margin:10px auto' %><br />
                              
                               <%if product.stock > 1%>
                                <button id='add_cart' onclick='addtocart(<%=product.id%>,<%=user_signed_in?%>)' class='add-to-cart btn btn-default'> Add To Cart </button>
                                <%elsif product.stock <= 1%>
                                <button id='add_cart' class='btn btn-outline-dark mt-auto'> Out of stock </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                     <%end%>
                </div>
            </div>
            <%=render 'shared/added_to_cart'%>
        <script>
        function addtocart(id,user){  
            if(user){
          $.ajax({
              url: `/cart_item?product_id=${id}`,
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type: 'post',
              dataType: "script",
              success: function(data){
                var cartcount = $('<div />').append(data).find(`#cart_quantity`).html();
            $(`#cart_quantity`).html(cartcount);
             document.getElementById("alerts").style.display = "block";
            document.getElementById("alerts").innerHTML = 'Product Added to cart';
            $("#success_tic").modal('show');
           }
          });
      } else{
        document.getElementById("alerts").style.display = "block";
        document.getElementById("alerts").innerHTML = 'PLEASE LOGIN TO ADD PRODUCTS TO CART';
      }
        };
      </script>